@use "../../../assets/styles/_variables";

.dashboard__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
  margin-bottom: 24px;
  border-bottom: 1px solid variables.$stroke-gray-personal;

  .header__buttons {
    display: flex;
    gap: 5px;
  }
}

.header__logo {
  svg {
    width: 10px;
    height: 10px;
  }

  input {
    opacity: 0;
    pointer-events: none;
    position: absolute;
  }

  path {
    stroke: variables.$gray-color;
    transition: variables.$transition-primary;
  }

  &:hover {
    path {
      stroke: variables.$white-color;
    }
  }
}

.header__menu {
  .menu__list {
    display: flex;
    position: absolute;
    flex-direction: column;
    list-style-type: none;
    z-index: 1;

    background: variables.$dark-gray-color;
    width: fit-content;
    padding: 5px 0;
    border-radius: variables.$border-radius;
  }

  a.list__item {
    width: 100%;
    color: variables.$light-gray-color;
    text-decoration: none;
    cursor: default;
  }

  .list__item {
    display: flex;
    align-items: center;
    position: relative;
    gap: 7px;

    padding: 8px 15px;
    color: variables.$light-gray-color;
    font-weight: 500;
    font-size: 0.85em;
    transition: variables.$transition-primary;

    &:hover {
      background: lighten(variables.$dark-gray-color, 7%);
    }

    svg {
      width: 15px;
      height: 15px;
    }

    path {
      stroke: variables.$light-gray-color;
    }
  }
}

.project-title {
  display: flex;
  align-items: center;
  gap: 10px;
  color: darken(variables.$light-gray-color, 10%);
  font-size: 0.9em;
  padding-left: 50px;

  a {
    text-decoration: none;
    color: darken(variables.$light-gray-color, 10%);
    transition: variables.$transition-primary;

    &:hover {
      color: variables.$gray-color;
    }
  }

  .project-name {
    color: variables.$text-primary-color;
  }

  .project-visibility {
    display: flex;
    align-items: center;
  }

  svg {
    width: 23px;
    height: 23px;
    stroke-width: 1px;

    &.public {
      path {
        fill: #52ba54;
      }
    }
  }
}
