// base colors
$primary-color: #5eb882;
$text-primary-color: #1e3141;
$white-color: #fefffe;
$light-gray-color: #d6d6d6;
$gray-color: #9b9b9b;
$dark-gray-color: #2a2a2a;
$black-color: #0f0e0f;
$danger-color: red;

$transition-primary: .3s ease;
