// base colors
$primary-color: #FF0060;
$primary-bg-personal: #FEF1F6;
$text-primary-color: #1e3141;
$white-color: #ffffff;
$light-gray-color: #d6d6d6;
$gray-color: #9b9b9b;
$dark-gray-color: #2a2a2a;
$black-color: #0f0e0f;
$danger-color: red;
$personal-gray-bg: #F9FAFB;

$transition-primary: .3s ease;
$sidebar-width: 250px;
$sidebar-gap: 30px;
$border-radius: 4px;
